# For integration tests, it is not necessary to load any plugin.
PLUGINS=
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=123456789
DB_DATABASE=dentallapp_db_test
# The maximum number of retry attempts.
DB_MAX_RETRY_COUNT=10
# The maximum delay between retries.
# Expressed in seconds.
DB_MAX_RETRY_DELAY=30